{% load static %}

<div class="sec-campania">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="sec-text h-100">
          <p class="text1">COMUNICACIÓN</p>
          <p class="text2"><strong>Dulce</strong> con vos misma</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="px-3 pb-5 p-md-3">
          <a class="btn-video-yt" id-video="hMDEhcWVLZo" data-bs-toggle="modal" data-bs-target="#video-player">
            <img class="w-100" src="{% static 'assets/images/campania1.png' %}" alt="Estadisticas">
            <img class="icon-play" src="{% static 'assets/images/icons/play.png' %}" alt="Play">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="px-3 pb-5 p-md-3">
          <a class="btn-video-yt" id-video="qeK6zI3t7SI" data-bs-toggle="modal" data-bs-target="#video-player">
            <img class="w-100" src="{% static 'assets/images/campania2.png' %}" alt="Estadisticas">
            <img class="icon-play" src="{% static 'assets/images/icons/play.png' %}" alt="Play">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>