{% load static %}

<div class="sec-cecilia">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 px-0">
        <div class="sec-img">
          <a href="{% url 'livececilia_app:livececilia' %}">
            <img class="w-100" src="{% static 'assets/images/cecilia/img-home.png' %}" alt="Cecilia">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 px-0">
        <div class="sec-text h-100">
          <a class="title" href="{% url 'livececilia_app:livececilia' %}">
            <p>LICENCIADA CECILIA CE EN VIVO</p>
          </a>
          <p class="text">Un encuentro especial con la psicóloga y sexóloga en donde hablamos de todo, sin prejuicios ni tabúes.</p>
        </div>
      </div>
    </div>
  </div>
</div>