{% load static %}

<div class="sec-creemos">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-12 col-md-5 px-0 order-2 order-md-1">
        <div class="sec-img">
          <img class="w-100" src="{% static 'assets/images/enquecreemos.png' %}" alt="Cecilia">
        </div>
      </div>
      <div class="col-12 col-md-7 px-0 order-1 order-md-2">
        <div class="sec-text h-100 align-items-start">
          <p class="text1">En qué <strong>CREEMOS</strong></p>
          <p class="text2">Desde la deﬁnición de nuestro nombre, sabemos que <strong>EN EL CORAZÓN DE DULCE CAROLA ESTÁ LA DULZURA.</strong></p>
          <p class="text2">Entendemos que una nueva dulzura está presente o latente en cada una de nosotras, más picante, no tan naif, sabiendo lo que queremos, como uno de nuestros valores, y que para tratar al otro con dulzura, <strong>PRIMERO DEBEMOS APRENDER A TRATARNOS DULCEMENTE A NOSOTRAS MISMAS.</strong></p>
          <p class="text2">Es por esto que <strong>LA VERDADERA BELLEZA ES AQUELLA QUE CONTEMPLA LA DULZURA HACIA LOS DEMÁS, EL MEDIO AMBIENTE, LOS ANIMALES Y HACIA UNA MISMA.</strong></p>
          <p class="text2">Es nuestra esencia y ese sentimiento el que nos hace desarrollar los mejores productos para vos.</p>
          <p class="text2">Te damos la bienvenida a <strong>Dulce Carola</strong>, un espacio en donde celebramos la sinceridad, los diálogos auténticos y los vínculos reales. Una marca que te recibe siempre con dulzura.</p>
        </div>
      </div>
    </div>
  </div>
</div>