{% load static %}

<div class="hero-home">
  <img class="w-100 d-none d-sm-block" src="{% static 'assets/images/hero/hero-home.jpg' %}" alt="Dulce con vos misma">
  <img class="w-100 d-sm-none" src="{% static 'assets/images/hero/hero-home-mobile.jpg' %}" alt="Dulce con vos misma">
  <div class="d-flex justify-content-center py-4 py-sm-0">
    <span class="text-hero">
      Te damos la bienvenida a <strong>Dulce Carola</strong>,
      <br>
      un espacio en donde celebramos la
      <br>
      sinceridad, los diálogos auténticos y los
      <br>
      vínculos reales. Una marca de
      <br>
      productos de belleza y ropa interior que
      <br>
      te recibe siempre con dulzura.
    </span>
  </div>
</div>