{% load static %}

<div class="modal fade" id="video-player" tabindex="-1" aria-labelledby="videoIndexLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="compartirModal" tabindex="-1" aria-labelledby="compartirModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="compartirModalLabel" style="color:#C80928">COMPARTIR</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <a class="text-decoration-none" href="javascript:void(0);" onclick="compartirFB()">
          <img width="10%" src="{% static 'assets/images/icons/fb.svg' %}" alt="fb">
        </a>
        <a class="text-decoration-none" href="javascript:void(0);" onclick="compartirTW('', '')">
          <img width="10%" src="{% static 'assets/images/icons/tw.svg' %}" alt="tw">
        </a>
        <!-- <a class="text-decoration-none" href="javascript:void(0);" onclick="compartirIN('Sorteo Dulce Carola')">
          <img width="10%" src="{% static 'assets/images/icons/in.svg' %}" alt="in">
        </a> -->
        <a class="text-decoration-none" href="javascript:void(0);" onclick="compartirWA('', '')">
          <img width="10%" src="{% static 'assets/images/icons/wa.svg' %}" alt="wa">
        </a>
        <a class="text-decoration-none" href="javascript:void(0);" onclick="compartirTG('')">
          <img width="10%" src="{% static 'assets/images/icons/tg.svg' %}" alt="tg">
        </a>
        <a class="text-decoration-none" href="javascript:void(0);" onclick="compartirMail('Dulce Carola', '')">
          <img width="10%" src="{% static 'assets/images/icons/mail.svg' %}" alt="msg">
        </a>
      </div>
    </div>
  </div>
</div>