{% load static %}

<div class="sec-testimonios">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 px-0 {{ posImgRight }}">
        <div class="sec-img">
          <a href="{% url 'home_app:testimonios' %}">
            <img class="w-100" src="{% static 'assets/images/testimonios/img-home.png' %}" alt="Testimonios">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 px-0 {{ posTextLeft }}">
        <div class="sec-text h-100">
          <a class="title" href="{% url 'home_app:testimonios' %}">
            <p>TESTIMONIOS ÍNTIMOS</p>
          </a>
          <p class="text">Experiencias de mujeres que se animan a contarnos sus vivencias sobre temas considerados tabúes.</p>
        </div>
      </div>
    </div>
  </div>
</div>