body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  font-size: 12px;
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}
main {
  padding-top: 105px;
}
@media (min-width: 992px) {
  main {
    padding-top: 115px;
  }
}
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999;
}
.preloader img {
  width: 150px;
}

/* ------------------------------------------------------ */
/* NAVBAR */
/* ------------------------------------------------------ */
.prenavbar {
  position: relative;
  background-color: #1e110f;
  color: #ffffff;
  width: 100%;
  height: 40px;
}
.prenavbar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  opacity: 0;
  animation-name: fadePrenav;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.prenavbar span:nth-child(2) {
  animation-delay: 10s;
}
@keyframes fadePrenav {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  height: 65px;
  background-color: #ffffff;
  box-shadow: 0 0px 5px rgb(0 0 0 / 30%);
}
.navbar * {
  font-family: 'Konnect', sans-serif !important;
  font-weight: 900 !important;
  color: #262626 !important;
}
.navbar .navbar-brand{
  margin: 0;
}
.navbar .navbar-brand .logo-navbar{
  height: 23px;
}
.navbar-toggler {
  border: none;
  padding: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar .navigation .nav-link {
  border: 4px solid transparent;
  padding: 0 7px;
  font-size: 0.8rem;
}
.navbar .navigation .nav-link:hover {
  border-bottom: 4px solid #262626;
}
.navbar .dropdown-menu {
  padding: 30px 25px;
  background-color: #eeeeee;
  margin: 0;
  border-radius: 0 0 6px 6px;
}
.navbar .dropdown-menu .dropdown-item {
  padding: 0;
  font-size: 0.9rem;
  color: #777777 !important;
}
.navbar .dropdown-menu .dropdown-item:hover {
  color: #262626 !important;
  text-decoration: underline;
}
.navbar .dropdown-menu ul {
  list-style: none;
}
.navbar .dropdown-menu ul li a {
  padding: 0;
  font-size: 0.8rem;
  color: #ababab !important;
}
.navbar .dropdown-menu ul li:hover a {
  color: #262626 !important;
  text-decoration: underline;
}
.navbar .nav-icons {
  display: flex;
  justify-content: end;
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar .nav-icons li {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}
.navbar .nav-icons li a {
  text-decoration: none;
  font-size: 1rem;
}
.navbar #nav-search {
  position: absolute;
  top: 100%;
  right: -15px;
  width: 300px;
  z-index: 3051;
}
.navbar #nav-search input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid #dbe0e2;
  border-right: none;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
}
.navbar #nav-search button {
  background-color: #ffffff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid #dbe0e2;
  border-left: none;
}
.navbar #nav-search input:focus,
.navbar #nav-search button:focus {
  box-shadow: none;
}
@media (min-width: 360px) {
  .navbar .navbar-brand .logo-navbar{
    height: 40px;
  }
}
@media (min-width: 992px) {
  .navbar {
    height: 75px;
    transition: all 0.3s;
  }
  .navbar .navbar-brand .logo-navbar{
    height: 50px;
    transition: all 0.3s;
  }
}
@media (min-width: 1200px) {
  .navbar .nav-icons {
    min-width: 200px;
  }
}
.nav-mobile {
  position: fixed;
  top: 105px;
  right: -100%;
  height: calc(100vh - 105px);
  width: 90vw;
  max-width: 360px;
  background-color: #f6f6f6;
  border: 1px solid rgba(0,0,0,.125);
  z-index: 3050;
  transition: all 0.3s;
}
.nav-mobile .accordion-item {
  background-color: transparent;
}
.nav-mobile a {
  text-decoration: none;
  font-family: 'Konnect', sans-serif;
  font-weight: 900;
  color: #777777;
  padding: 0.5rem 1rem;
}
.nav-mobile  .accordion-button {
  padding: 0.5rem 1rem;
  width: fit-content;
  background-color: transparent;
  color: #777777;
}
.nav-mobile  .accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}
.nav-mobile .accordion-button:not(.collapsed) {
  color: #777777;
  background-color: transparent;
  box-shadow: none;
}
.nav-mobile .accordion-button:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23777777'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.nav-mobile .accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23777777'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.nav-mobile .accordion-body li {
  list-style: none;
}

/* -------------------------------------- */
/* HOME */
/* -------------------------------------- */


/* -------------------------------------- */
/* FOOTER */
/* -------------------------------------- */

footer {
  background-color: #dcdcdc;
  padding: 2rem 0;
  color: #494746;
}
footer .newsletter h4 {
  font-size: 1rem;
}
footer .newsletter p {
  font-size: 0.7rem;
  color: #777777;
  line-height: 2.5;
}
footer .newsletter input,
footer .newsletter button {
  font-size: 0.8rem;
  color: #494746;
  background-color: #dcdcdc;
  border: none;
  border-bottom: 1px solid #494746;
}
footer .newsletter input:focus {
  color: #494746;
  background-color: #dcdcdc;
  box-shadow: 0 0 5px #494746;
}
footer a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #494746;
  line-height: 2;
}
footer a:hover {
  color: #494746;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .copyright {
  font-size: 0.8rem;
}
footer .rrss img {
  width: 2rem;
  margin: 0.4rem;
}