body {
  font-family: 'Konnect', sans-serif;
  overflow-x: hidden;
  font-size: 12px;
  color: #494746;
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}
main {
  padding-top: 105px;
}
@media (min-width: 992px) {
  main {
    padding-top: 115px;
  }
}
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999;
}
.preloader img {
  width: 150px;
}

/* ------------------------------------------------------ */
/* NAVBAR */
/* ------------------------------------------------------ */
.prenavbar {
  position: relative;
  background-color: #1e110f;
  color: #ffffff;
  width: 100%;
  height: 40px;
}
.prenavbar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  opacity: 0;
  animation-name: fadePrenav;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.prenavbar span:nth-child(2) {
  animation-delay: 10s;
}
@keyframes fadePrenav {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  height: 65px;
  background-color: #ffffff;
  box-shadow: 0 0px 5px rgb(0 0 0 / 30%);
}
.navbar * {
  font-family: 'Konnect', sans-serif !important;
  font-weight: 900 !important;
  color: #262626 !important;
}
.navbar .navbar-brand{
  margin: 0;
}
.navbar .navbar-brand .logo-navbar{
  height: 23px;
}
.navbar-toggler {
  border: none;
  padding: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar .navigation .nav-link {
  border: 4px solid transparent;
  padding: 0 7px;
  font-size: 0.8rem;
}
.navbar .navigation .nav-link:hover {
  border-bottom: 4px solid #262626;
}
.navbar .dropdown-menu {
  padding: 30px 25px;
  background-color: #eeeeee;
  margin: 0;
  border-radius: 0 0 6px 6px;
}
.navbar .dropdown-menu .dropdown-item {
  padding: 0;
  font-size: 0.9rem;
  color: #777777 !important;
}
.navbar .dropdown-menu .dropdown-item:hover {
  color: #262626 !important;
  text-decoration: underline;
}
.navbar .dropdown-menu ul {
  list-style: none;
}
.navbar .dropdown-menu ul li a {
  padding: 0;
  font-size: 0.8rem;
  color: #ababab !important;
}
.navbar .dropdown-menu ul li:hover a {
  color: #262626 !important;
  text-decoration: underline;
}
.navbar .nav-icons {
  display: flex;
  justify-content: end;
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar .nav-icons li {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}
.navbar .nav-icons li a {
  text-decoration: none;
  font-size: 1rem;
}
.navbar #nav-search {
  position: absolute;
  top: 100%;
  right: -15px;
  width: 300px;
  z-index: 3051;
}
.navbar #nav-search input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid #dbe0e2;
  border-right: none;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
}
.navbar #nav-search button {
  background-color: #ffffff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid #dbe0e2;
  border-left: none;
}
.navbar #nav-search input:focus,
.navbar #nav-search button:focus {
  box-shadow: none;
}
@media (min-width: 360px) {
  .navbar .navbar-brand .logo-navbar{
    height: 40px;
  }
}
@media (min-width: 992px) {
  .navbar {
    height: 75px;
    transition: all 0.3s;
  }
  .navbar .navbar-brand .logo-navbar{
    height: 50px;
    transition: all 0.3s;
  }
}
@media (min-width: 1200px) {
  .navbar .nav-icons {
    min-width: 200px;
  }
}
.nav-mobile {
  position: fixed;
  top: 105px;
  right: -100%;
  height: calc(100vh - 105px);
  width: 90vw;
  max-width: 360px;
  background-color: #f6f6f6;
  border: 1px solid rgba(0,0,0,.125);
  z-index: 3050;
  transition: all 0.3s;
}
.nav-mobile .accordion-item {
  background-color: transparent;
}
.nav-mobile a {
  text-decoration: none;
  font-family: 'Konnect', sans-serif;
  font-weight: 900;
  color: #777777;
  padding: 0.5rem 1rem;
}
.nav-mobile  .accordion-button {
  padding: 0.5rem 1rem;
  width: fit-content;
  background-color: transparent;
  color: #777777;
}
.nav-mobile  .accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}
.nav-mobile .accordion-button:not(.collapsed) {
  color: #777777;
  background-color: transparent;
  box-shadow: none;
}
.nav-mobile .accordion-button:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23777777'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.nav-mobile .accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23777777'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.nav-mobile .accordion-body li {
  list-style: none;
}

/* -------------------------------------- */
/* GLOBALS PAGES */
/* -------------------------------------- */
.hero-home {
  position: relative;
  background-color: #93867E;
}
.hero-home .text-hero {
  margin: 0 auto;
  color: #ffffff;
  font-size: 4vw;
  font-weight: 300;
  line-height: 1.3;
}
@media (min-width: 576px) {
  .hero-home .text-hero {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 2.3vw;
    font-weight: 300;
    line-height: 1.3;
  }
}
.hero {
  position: relative;
}
.hero .text-hero {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  color: #C80928;
  font-size: 3.8vw;
}
.hero .title-page {
  position: absolute;
  top: 100%;
  left: 2%;
  transform: translateY(-110%);
  color: #ffffff;
  font-size: 4vw;
  font-weight: 300;
  line-height: 1;
}
.sec-text {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-text .title {
  text-decoration: none;
  color: #C80928;
  font-size: 5vw;
  font-weight: 700;
  text-align: center
}
.sec-text .title:hover {
  text-decoration: underline;
}
.sec-text .text {
  color: #494746;
  font-size: 4vw;
  margin: 0;
  text-align: center
}
.sec-img {
  overflow: hidden;
}
.sec-img img {
  transition: all 0.3s;
}
.sec-img img:hover {
  transform: scale(1.1);
}
.sec-estadisticas,
.sec-campania,
.sec-testimonios,
.sec-sorteo,
.sec-cecilia,
.sec-creemos {
  padding: 0.5rem 0;
}
.sec-estadisticas .content,
.sec-testimonios .content,
.sec-cecilia .content,
.sec-creemos .content,
.sec-campania .content,
.sec-sorteo .content {
  background-color: #e3e3e3;
}
.sec-campania .sec-text .text1 {
  margin: 0;
  line-height: 1;
  font-size: 7vw;
}
.sec-campania .sec-text .text2 {
  margin: 0;
  line-height: 1;
  font-size: 6vw;
  color: #C80928;
}
.sec-campania .btn-video-yt {
  position: relative;
  cursor: pointer;
}
.sec-campania .btn-video-yt:hover .icon-play {
  transform: translate(-50%, -50%) scale(1.2);
}
.sec-campania .btn-video-yt .icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  transition: all 0.3s;
}
.sec-sorteo .content-text {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  text-align: end;
  pointer-events: none;
}
.sec-sorteo .content-text .text1 {
  font-size: 12vw;
  font-weight: 300;
  color: #494746;
  margin: 0;
  line-height: 1;
  text-align: end;
}
.sec-sorteo .content-text .text1 .logo {
  position: absolute;
  top: 1.8vw;
  right: 1.5vw;
  width: 7vw;
  transform: rotate(20deg);
}
.sec-sorteo .content-text .text2 {
  font-size: 6vw;
  font-weight: 300;
  color: #C80928;
  margin: 0;
  line-height: 1;
  text-align: end;
  margin-bottom: 0.5rem;
}
.sec-sorteo .content-text .text3 {
  font-size: 3vw;
  font-weight: 400;
  color: #494746;
  margin: 0;
  line-height: 1;
  padding: 0.2rem 0.5rem;
  border: 1px solid #494746;
}
.sec-creemos .text1 {
  font-size: 8vw;
  font-weight: 400;
  color: #494746;
}
.sec-creemos .text2 {
  font-size: 4vw;
  font-weight: 400;
  color: #494746;
}
@media (min-width: 768px) {
  .sec-text {
    padding: 0 3rem;
  }
  .sec-text .title {
    font-size: 1.2vw;
  }
  .sec-text .text {
    font-size: 1.2vw;
  }
  .sec-campania .content {
    padding: 2.5rem 0;
  }
  .sec-campania .sec-text .text1 {
    font-size: 2.5vw;
  }
  .sec-campania .sec-text .text2 {
    font-size: 2.15vw;
  }
  .sec-sorteo .content-text .text1 {
    font-size: 6vw;
  }
  .sec-sorteo .content-text .text1 .logo {
    top: 1vw;
    right: 0.8vw;
    width: 3.5vw;
  }
  .sec-sorteo .content-text .text2 {
    font-size: 3vw;
    margin-bottom: 0.5rem;
  }
  .sec-sorteo .content-text .text3 {
    font-size: 1.5vw;
  }
  .sec-creemos .text1 {
    font-size: 3vw;
  }
  .sec-creemos .text2 {
    font-size: 1.2vw;
  }
}
/* -------------------------------------- */
/* MODALS VIDEO */
/* -------------------------------------- */
#video-player .modal-content {
  background-color: transparent;
  border: none;
}
#video-player .modal-content .modal-header {
  border: none;
}
.modal .modal-content .modal-header .btn-close {
  border-radius: 50px;
  background: #fff url(../images/icons/icon-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px;
}
.modal .modal-content .modal-header .btn-close:focus {
  box-shadow: none;
}
button.compartir {
  position: absolute;
  right: 1rem;
  top: 100%;
  transform: translateY(calc(-100% - 1rem));
  font-size: 2.5vw;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: #C80928;
}
button.compartir img {
  width: 4vw;
  margin-left: 1vw;
  margin-top: -0.4vw;
}
@media (min-width: 768px) {
  button.compartir {
    font-size: 1.5vw;
  }  
  button.compartir img {
    width: 2vw;
    margin-top: -0.5vw;
  }  
}
/* -------------------------------------- */
/* ESTADISTICAS */
/* -------------------------------------- */
.sec-estadisticas-intro {
  padding: 0.5rem 0;
}
.sec-estadisticas-intro .content {
  background-color: #e3e3e3;
}
.sec-estadisticas-intro .content .sec-text .text {
  color: #494746;
  font-size: 4vw;
  margin: 0;
  text-align: start;
}
.sec-estadisticas-02 {
  padding: 3rem 0;
}
.sec-estadisticas-02 .content-img {
  flex-basis: 30%
}
.sec-estadisticas-02 .content-text {
  flex-basis: 70%;
}
.sec-estadisticas-02 .content-text .title {
  margin: 0;
  line-height: 1;
  color: #81506E;
  font-size: 8.5vw;
  font-weight: 700;
}
.sec-estadisticas-02 .content-text .text {
  color: #81506E;
  font-size: 3.5vw;
  margin: 0;
  line-height: 1;
}
.sec-estadisticas-02 .nota {
  font-size: 3.5vw;
  text-align: center;
  margin: 0;
}
.sec-estadisticas-03 {
  background-color: #BA947D;
  padding: 1rem 0;
}
.sec-estadisticas-03 .content .content-img {
  text-align: center;
}
.sec-estadisticas-03 .content .content-img img {
  width: 75%;
}
.sec-estadisticas-03 .content .content-p {
  padding-top: 0.5rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 4.5vw;
  text-align: center;
}
.sec-estadisticas-04 {
  padding: 3rem 0;
}
.sec-estadisticas-04 .left img {
  border-top-left-radius: 25px;
}
.sec-estadisticas-04 .left .bg-grey {
  background-color: #A8A6A7;
  border-bottom-right-radius: 25px;
}
.sec-estadisticas-04 .left .title {
  color: #ffffff;
  font-size: 8vw;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}
.sec-estadisticas-04 .left .text {
  color: #ffffff;
  font-size: 2.5vw;
  margin: 0;
}
.sec-estadisticas-04 .right .border-left-grey {
  border-left: 3px solid #A8A6A7;
}
.sec-estadisticas-04 .right p {
  color: #81506E;
  font-size: 3.5vw;
}
.sec-estadisticas-04 img {
  width: 100%;
}
.sec-estadisticas-05 .title {
  background-color: #A8A6A7;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.sec-estadisticas-05 .title div {
  background-color: #A8A6A7;
  padding: 0.5rem 1rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 4.5vw;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.sec-estadisticas-05 {
  padding: 3rem 0;
}
.sec-estadisticas-05 img {
  width: 100%;
}
.sec-estadisticas-05 p {
  font-size: 3.5vw;
  margin: 0;
}
.sec-estadisticas-06 {
  padding: 3rem 0;
}
.sec-estadisticas-06 .progress {
  border-radius: 50px;
  height: 1rem;
}
.sec-estadisticas-06 .progress-bar {
  background-color: #BA947D;
  border-radius: 50px;
}
.porcent-progress {
  position: absolute;
  background-color: #BA947D;
  border-radius: 5px;
  font-size: 3.5vw;
  line-height: 1;
  color: #ffffff;
  padding: 10px;
  top: -0.5rem;
  transform: translate(-50%, -100%);
}
.porcent-progress:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0; 
  height: 0; 
  border-top: 0.5rem solid #BA947D;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent; 
  transform: translate(-50%, 100%);
}
.sec-estadisticas-06 p {
  font-size: 3.5vw;
  color: #BA947D;
  margin: 0;
  text-align: center;
  padding: 0 1rem;
}
.sec-estadisticas-07 {
  padding: 3rem 0;
}
.sec-estadisticas-07 .content-card {
  border-radius: 10px;
  border-top-right-radius: 70px;
  color: #ffffff;
  height: 80%;
}
.sec-estadisticas-07 .content-card.color01 {
  background-color: #81506E;
}
.sec-estadisticas-07 .content-card.color02 {
  background-color: #BA947D;
}
.sec-estadisticas-07 .pestana {
  transform: translateY(-25%);
  z-index: -1;
  position: relative;
}
.sec-estadisticas-07 .content-card .title {
  margin: 0;
  line-height: 1;
  font-size: 7.5vw;
  font-weight: 700;
}
.sec-estadisticas-07 .content-card .title.extra-font {
  font-size: 18vw;
}
.sec-estadisticas-07 .content-card .subtitle {
  margin: 0;
  line-height: 1;
  font-size: 11vw;
  font-weight: 700;
}
.sec-estadisticas-07 .content-card .text {
  margin: 0;
  font-size: 4.5vw;
}
.sec-estadisticas-07 .pestana img {
  width: 40%;
}
.separador-point {
  height: 2px;
  width: 95%;
  margin: 0 auto;
  background-image: url(../images/icons/circle-separador.svg);
  background-size: 8px;
}
@media (min-width: 576px) {
  .sec-estadisticas-07 .content-card .title {
    font-size: 5.5vw;
  }
  .sec-estadisticas-07 .content-card .title.extra-font {
    font-size: 13.5vw;
  }
  .sec-estadisticas-07 .content-card .subtitle {
    font-size: 8vw;
  }
  .sec-estadisticas-07 .content-card .text {
    font-size: 3vw;
  }
}
@media (min-width: 768px) {
  .sec-estadisticas-intro .content .sec-text .text {
    font-size: 2vw;
  }
  .sec-estadisticas-02 .content-text .title {
    font-size: 3.5vw;
  }
  
  .sec-estadisticas-02 .content-text .text {
    font-size: 1.3vw;
  }
  .sec-estadisticas-02 .nota {
    font-size: 1.3vw;
  }
  .sec-estadisticas-03 {
    padding: 2rem 0;
  }
  .sec-estadisticas-03 .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec-estadisticas-03 .content .content-img {
    flex-basis: 25%;
  }
  .sec-estadisticas-03 .content .content-img img {
    width: 100%;
  }
  .sec-estadisticas-03 .content .content-p {
    padding-left: 2rem;
    font-size: 2vw;
  }
  .sec-estadisticas-04 {
    padding: 2rem 0;
  }
  .sec-estadisticas-04 .left img {
    border-top-left-radius: 40px;
  }
  .sec-estadisticas-04 .left .bg-grey {
    border-bottom-right-radius: 40px;
  }
  .sec-estadisticas-04 .left .title {
    font-size: 5vw;
  }
  .sec-estadisticas-04 .left .text {
    font-size: 1.3vw;
  }
  .sec-estadisticas-04 .right p {
    font-size: 1.3vw;
  }
  .sec-estadisticas-04 img {
    width: 75%;
  }
  .sec-estadisticas-05 {
    padding: 2rem 0;
  }
  .sec-estadisticas-05 .title {
    background-color: transparent;
    padding: 0;
  }
  .sec-estadisticas-05 .title div {
    width: max-content;
    font-size: 2vw;
    margin: 0 auto;
  }
  .sec-estadisticas-05 p {
    font-size: 1.3vw;
  }
  .sec-estadisticas-06 {
    padding: 2rem 0;
  }
  .sec-estadisticas-06 .progress {
    height: 2rem;
  }
  .sec-estadisticas-06 p {
    font-size: 1.3vw;
    color: #BA947D;
    text-align: start;
    padding: 0;
  }
  .porcent-progress {
    font-size: 1.5vw;
    padding: 10px;
    top: -1rem;
  }
  .porcent-progress:before {
    border-top: 1rem solid #BA947D;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
  }
  .sec-estadisticas-07 {
    padding: 2rem 0;
  }
  .sec-estadisticas-07 .content-card .title {
    font-size: 2.5vw;
  }
  .sec-estadisticas-07 .content-card .title.extra-font {
    font-size: 6.5vw;
  }
  .sec-estadisticas-07 .content-card .subtitle {
    font-size: 4vw;
  }
  .sec-estadisticas-07 .content-card .text {
    font-size: 1.3vw;
  }
}
/* -------------------------------------- */
/* TESTIMONIOS */
/* -------------------------------------- */
.sec-testimonios-01 {
  padding: 0.5rem 0;
}
.sec-testimonios-01 .content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #dcdcdc;
}
.sec-testimonios-01 .title {
  text-align: center;
  color: #C80928;
  font-size: 12vw;
  font-weight: 300;
  margin: 0;
}
.sec-testimonios-01 .text {
  text-align: center;
  font-size: 4vw;
}
.sec-testimonios-01 .text.more {
  text-align: center;
  padding-left: 1rem;
  line-height: 1;
}
.sec-testimonios-01 .slider-testimonios a {
  cursor: pointer;
}
.sec-testimonios-01 .slider-testimonios .title-video {
  background-color: #C8092855;
  position: absolute;
  color: #ffffff;
  bottom: 0.5rem;
  margin: 0;
  font-size: 3vw;
  width: 100%;
  text-align: center;
}
.sec-testimonios-01 .slider-testimonios .content-video {
  /* width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .sec-testimonios-01 .title {
    font-size: 4.5vw;
  }
  .sec-testimonios-01 .text {
    font-size: 1.3vw;
  }
  .sec-testimonios-01 .text.more {
    text-align: start;
  }
  .sec-testimonios-01 .slider-testimonios .title-video {
    font-size: 1.3vw;
  }
  .sec-testimonios-01 .slider-testimonios .title-video {
    bottom: 1rem;
    font-size: 1.3vw;
  }
}
/* -------------------------------------- */
/* SORTEO */
/* -------------------------------------- */
.sec-sorteo-form {
  padding: 3rem 0;
}
.sec-sorteo-form .content-form {
  border: 1px solid #494746;
}
.sec-sorteo-form .content-text {
  position: absolute;
  top: 5%;
  left: 2%;
  text-align: end;
  pointer-events: none;
}
.sec-sorteo-form .content-text .text1 {
  font-size: 12vw;
  font-weight: 300;
  color: #494746;
  margin: 0;
  line-height: 1;
  text-align: end;
}
.sec-sorteo-form .content-text .text1 .logo {
  position: absolute;
  top: 1.8vw;
  right: 1.5vw;
  width: 7vw;
  transform: rotate(20deg);
}
.sec-sorteo-form .content-text .text2 {
  font-size: 6vw;
  font-weight: 300;
  color: #C80928;
  margin: 0;
  line-height: 1;
  text-align: end;
  margin-bottom: 0.5rem;
}
.sec-sorteo-form .content-text2 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  pointer-events: none;
}
.sec-sorteo-form .content-text2 p {
  color: #000000;
  margin: 0;
  line-height: 1;
}
.sec-sorteo-form .content-text2 .text1 {
  font-size: 4.5vw;
  font-weight: 400;
}
.sec-sorteo-form .content-text2 .text2 {
  font-size: 6.8vw;
  font-weight: 400;
  line-height: 0.7;
}
.sec-sorteo-form .content-text2 .text3 {
  font-size: 4.5vw;
  font-weight: 400;
}
.sec-sorteo-form .content-text2 .text4 {
  font-size: 6vw;
  font-weight: 400;
}
.sec-sorteo-form .sec-title-form {
  padding: 1rem;
  background-color: #A62633;
}
.sec-sorteo-form .sec-title-form p {
  margin: 0;
  font-size: 3.3vw;
  color: #dcdcdc;
  line-height: 1;
}
.sec-sorteo-form .post-form {
  background-color: #B9B7B8;
  padding: 1rem;
  font-size: 3vw;
}
.sec-sorteo-form .post-form p {
  margin: 0;
}
.sec-sorteo-form .post-form span {
  color: #C80928;
}
.sec-sorteo-form .post-form a {
  margin-left: 0.5rem;
  padding: 0.3rem;
  border: 1px solid #494746;
  text-decoration: none;
  color: #494746;
  line-height: 1;
}
@media (min-width: 992px) {
  .sec-sorteo-form .content-text {
    top: 10%;
    left: 5%;
  }
  .sec-sorteo-form .content-text .text1 {
    font-size: 6vw;
  }
  .sec-sorteo-form .content-text .text1 .logo {
    top: 1vw;
    right: 0.8vw;
    width: 3.5vw;
  }
  .sec-sorteo-form .content-text .text2 {
    font-size: 3vw;
    margin-bottom: 0.5rem;
  }
  .sec-sorteo-form .content-text2 {
    bottom: 5%;
    left: 5%;
  }
  .sec-sorteo-form .content-text2 .text1 {
    font-size: 3.5vw;
  }
  .sec-sorteo-form .content-text2 .text2 {
    font-size: 5.3vw;
  }
  .sec-sorteo-form .content-text2 .text3 {
    font-size: 3.5vw;
  }
  .sec-sorteo-form .content-text2 .text4 {
    font-size: 4vw;
  }
  .sec-sorteo-form .sec-title-form {
    padding: 2rem;
    background-color: #A62633;
  }
  .sec-sorteo-form .sec-title-form p {
    font-size: 2vw;
  }
  .sec-sorteo-form .post-form {
    font-size: 1.5vw;
  }
  .sec-sorteo-form .post-form a {
    padding: 0.5rem 1rem;
  }
}
/* -------------------------------------- */
/* FORM */
/* -------------------------------------- */
form label,
form input,
form select {
  font-size: 3.5vw !important;
}
form input,
form select {
  border: none !important;
  border-bottom: 1px solid #494746 !important;
  border-radius: 0 !important;
}
form input:focus,
form select:focus {
  box-shadow: 0 0 5px #C80928 !important;
}
form label span {
  color: #C80928;
}
form button.compartir {
  position: initial;
  transform: translate(0, 0);
}
.footer-form {
  font-size: 3.5vw;
}
.footer-form span {
  color: #C80928;
}
.footer-form button[type="submit"] {
  background-color: #dcdcdc;
  padding: 0.5rem 1rem;
  border: 1px solid #494746;
  border-radius: 10px;
  line-height: 1;
  transition: all 0.3s;
}
.footer-form button[type="submit"]:hover {
  background-color: #494746;
  color: #ffffff;
}
@media (min-width: 768px) {
  form label,
  form input,
  form select {
    font-size: 1.5vw !important;
  }
  .footer-form {
    font-size: 1.5vw;
  }
  .footer-form button[type="submit"] {
    padding: 1rem;
  }
}
/* -------------------------------------- */
/* CECILIA */
/* -------------------------------------- */
.sec-cecilia-form {
  padding: 3rem 0;
}
.sec-cecilia-form .content-form {
  border: 1px solid #494746;
}
.sec-cecilia-form .content-text {
  position: absolute;
  top: 5%;
  right: 2%;
  text-align: center;
  pointer-events: none;
}
.sec-cecilia-form .content-text .text1 {
  font-size: 4.5vw;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  line-height: 1;
  text-align: center;
}
.sec-cecilia-form .content-text .text2 {
  font-size: 4.4vw;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  line-height: 1;
  text-align: center;
  margin-bottom: 0.5rem;
}
.sec-cecilia-form .content-text img {
  width: 30%;
}
.sec-cecilia-form .sec-title-form {
  padding: 1rem;
  background-color: #A62633;
}
.sec-cecilia-form .sec-title-form p {
  margin: 0;
  font-size: 3.3vw;
  color: #dcdcdc;
  line-height: 1;
}
@media (min-width: 992px) {
  .sec-cecilia-form .content-text {
    top: 10%;
    right: 5%;
  }
  .sec-cecilia-form .content-text .text1 {
    font-size: 3vw;
  }
  .sec-cecilia-form .content-text .text2 {
    font-size: 2.9vw;
    margin-bottom: 0.5rem;
  }
  .sec-cecilia-form .sec-title-form {
    padding: 2rem;
    background-color: #A62633;
  }
  .sec-cecilia-form .sec-title-form p {
    font-size: 2vw;
  }
}
/* -------------------------------------- */
/* PRODUCTOS */
/* -------------------------------------- */
.sec-productos .slider-productos a {
  cursor: pointer;
}
.sec-productos .slider-productos .title-producto {
  background-color: #00000055;
  position: absolute;
  color: #ffffff;
  bottom: 0.5rem;
  margin: 0;
  font-size: 3vw;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .sec-productos .slider-productos .title-producto {
    font-size: 1.3vw;
  }
  .sec-productos .slider-productos .title-producto {
    bottom: 1rem;
    font-size: 1.3vw;
  }
}
/* -------------------------------------- */
/* SLICK */
/* -------------------------------------- */
.slick-next {
  width: 20px;
  right: 0.25rem;
}
.slick-prev {
  left: 0.25rem;
  width: 20px;
  z-index: 1;
}
.slick-next,
.slick-prev {
  background-color: #00000022;
  height: calc(100% - 0.5rem);
}
.slick-next:focus,
.slick-prev:focus {
  background-color: #00000022;
}
.slick-next:hover,
.slick-prev:hover {
  background-color: #00000055;
}
.slick-next:before,
.slick-prev:before {
  display: none;
}
.slider-title {
  outline: none;
}
.slider-title .slick-track {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .slick-next {
    width: 40px;
    right: 0.5rem;
  }
  .slick-prev {
    width: 40px;
    left: 0.5rem;
  }
  .slick-next,
  .slick-prev {
    height: calc(100% - 1rem);
  }
}
/* -------------------------------------- */
/* FOOTER */
/* -------------------------------------- */
footer {
  background-color: #dcdcdc;
  padding: 2rem 0;
  color: #494746;
}
footer .newsletter h4 {
  font-size: 1rem;
}
footer .newsletter p {
  font-size: 0.7rem;
  color: #777777;
  line-height: 2.5;
}
footer .newsletter input,
footer .newsletter button#send-newsletter {
  font-size: 0.8rem;
  color: #494746;
  background-color: #dcdcdc;
  border: none;
  border-bottom: 1px solid #494746;
}
footer .newsletter input:focus {
  color: #494746;
  background-color: #dcdcdc;
  box-shadow: 0 0 5px #494746;
}
footer a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #494746;
  line-height: 2;
}
footer a:hover {
  color: #494746;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .copyright {
  font-size: 0.8rem;
}
footer .rrss img {
  width: 2rem;
  margin: 0.4rem;
}