{% extends 'layout.html' %}
{% load static %}


{% block content %}

{% include 'partials/hero.html' with titlePage='LA MASTURBACIÓN<br>EN NÚMEROS' %}

<div class="sec-estadisticas-intro">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 px-0 position-relative">
        <div class="sec-text h-100">
          <p class="text">En Dulce Carola nos importa conocer <strong>qué es importante realmente para las mujeres. </strong>Por eso <strong>realizamos un estudio sobre </strong>los hábitos y opiniones en relación a <strong>la masturbación femenina. </strong>¡Descubrí los resultados!</p>
        </div>
        <button class="compartir">
          <span>COMPARTIR</span><img src="{% static 'assets/images/icons/compartir.png' %}" alt="Compartir">
        </button>
      </div>
      <div class="col-12 col-md-6 px-0">
        <div class="">
          <img class="w-100" src="{% static 'assets/images/estadisticas/img-01.png' %}" alt="Sorteo">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sec-estadisticas-02">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center">
          <div class="content-img">
            <img class="w-100" src="{% static 'assets/images/estadisticas/logo50.png' %}" alt="50%">
          </div>
          <div class="content-text">
            <p class="title">Casi el 50%</p>
            <p class="text">de las entrevistadas <strong>se masturba habitualmente</strong> o <strong>de vez en cuando.</strong></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 pt-4 pt-md-0">
        <div class="d-flex align-items-center">
          <div class="content-img">
            <img class="w-100" src="{% static 'assets/images/estadisticas/logo60.png' %}" alt="50%">
          </div>
          <div class="content-text">
            <p class="title">Más del 60%</p>
            <p class="text">de aquellas que se masturban lo hace <strong>almenos una vez por semana.</strong></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 pt-4 pt-md-0">
        <div class="d-flex align-items-center">
          <div class="content-img">
            <img class="w-100" src="{% static 'assets/images/estadisticas/logo80.png' %}" alt="50%">
          </div>
          <div class="content-text">
            <p class="title">Más del 80%</p>
            <p class="text">cree en los <strong>beneficios de la masturbación</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-4">
      <div class="col-12">
        <p class="nota">Sin embargo, sólo el <strong>32% considera que todas las mujeres se masturban</strong> y un <strong>17%</strong> considera <strong>que sólo una minoria lo hace.</strong></p>
      </div>
    </div>
  </div>
</div>

{% include 'partials/separador.html' with textSeparador='ADEMÁS' %}

{% include 'partials/sorteo.html' %}

{% include 'partials/cecilia.html' %}

{% include 'partials/campania.html' %}

{% include 'partials/modals.html' %}

{% include 'partials/testimonios.html' %}

{% endblock content %}
  