{% extends 'layout.html' %}
{% load static %}


{% block content %}

{% include 'partials/hero.html' with titlePage='LA MASTURBACIÓN<br>EN NÚMEROS' %}

<div class="sec-estadisticas-intro">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 px-0 position-relative">
        <div class="sec-text h-100">
          <p class="text">En Dulce Carola nos importa conocer <strong>qué es importante realmente para las mujeres. </strong>Por eso <strong>realizamos un estudio sobre </strong>los hábitos y opiniones en relación a <strong>la masturbación femenina. </strong>¡Descubrí los resultados!</p>
        </div>
        <button class="compartir">
          <span>COMPARTIR</span><img src="{% static 'assets/images/icons/compartir.png' %}" alt="Compartir">
        </button>
      </div>
      <div class="col-12 col-md-6 px-0">
        <div class="">
          <img class="w-100" src="{% static 'assets/images/estadisticas/img-01.png' %}" alt="Sorteo">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sec-estadisticas-02">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center">
          <div class="content-img">
            <img class="w-100" src="{% static 'assets/images/estadisticas/logo50.png' %}" alt="50%">
          </div>
          <div class="content-text">
            <p class="title">Casi el 50%</p>
            <p class="text">de las entrevistadas <strong>se masturba habitualmente</strong> o <strong>de vez en cuando.</strong></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 pt-4 pt-md-0">
        <div class="d-flex align-items-center">
          <div class="content-img">
            <img class="w-100" src="{% static 'assets/images/estadisticas/logo60.png' %}" alt="50%">
          </div>
          <div class="content-text">
            <p class="title">Más del 60%</p>
            <p class="text">de aquellas que se masturban lo hace <strong>almenos una vez por semana.</strong></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 pt-4 pt-md-0">
        <div class="d-flex align-items-center">
          <div class="content-img">
            <img class="w-100" src="{% static 'assets/images/estadisticas/logo80.png' %}" alt="50%">
          </div>
          <div class="content-text">
            <p class="title">Más del 80%</p>
            <p class="text">cree en los <strong>beneficios de la masturbación</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12">
        <p class="nota">Sin embargo, sólo el <strong>32% considera que todas las mujeres se masturban</strong> y un <strong>17%</strong> considera <strong>que sólo una minoria lo hace.</strong></p>
      </div>
    </div>
  </div>
</div>
<div class="sec-estadisticas-03">
  <div class="container-fluid">
    <div class="content">
      <div class="content-img">
        <img src="{% static 'assets/images/estadisticas/4de10.png' %}" alt="4 de 10">
      </div>
      <div class="content-p">
        <p class="m-0">4 de cada 10 mujeres comenzó a masturbarse en la niñez o pubertad.</p>
      </div>
    </div>
  </div>
</div>
<div class="sec-estadisticas-04">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 left">
        <div class="row">
          <div class="col-6 pe-0">
            <img class="w-100" src="{% static 'assets/images/estadisticas/img-02.png' %}" alt="">
          </div>
          <div class="col-6 ps-0">
            <div class="px-3 h-100 bg-grey d-flex align-items-center justify-content-center flex-column">
              <p class="title text-center">1/3</p>
              <p class="text text-center">de las encuestadas <strong>que se masturban</strong> manifiesta que strong <strong>cambia la manera</strong> en la que lo hace <strong>cada vez que se da autoplacer.</strong></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 right pt-3 pt-md-0 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-2 offset-md-1 d-flex align-items-center justify-content-center">
              <img src="{% static 'assets/images/estadisticas/plus.svg' %}" alt="">
            </div>
            <div class="col-10 col-md-9 border-left-grey">
              <div class="content-text py-3">
                <p class="m-0"><strong>81% habla mayormente con las amigas sobre masturbación,</strong> incluso en mayor grado que con las propias parejas (66%).</p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-2 offset-md-1 d-flex align-items-center justify-content-center">
              <img src="{% static 'assets/images/estadisticas/minus.svg' %}" alt="">
            </div>
            <div class="col-10 col-md-9 border-left-grey">
              <div class="content-text py-3">
                <p class="m-0"><strong>el 70%</strong> de las mujeres considera que, <strong>al hablar con otra mujer</strong> sobre masturbación, <strong>obtendrán una respuesta negativa.</strong> Ya sea porque les van a pedir que no continúen con el tema o porque van a juzgarlas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="separador-point"></div>
<div class="sec-estadisticas-05">
  <div class="container-fluid">
    <div class="title text-center mb-3">
      <div>LAS MUJERES CREEN QUE ES UN TEMA MÁS PRESENTE EN CONVERSACIONES DE HOMBRES</div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-3 col-md-2 d-flex align-items-center justify-content-center">
              <img src="{% static 'assets/images/estadisticas/hombre.png' %}" alt="">
            </div>
            <div class="col-9 col-md-10 d-flex align-items-center">
              <div class="content-text py-3">
                <p class="m-0">Un <strong>63% opina</strong> que <strong>todos los hombres se masturban</strong> e identifica a la masturbación como <strong>un hábito más que nada masculino.</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-3 pt-md-0 d-flex align-items-center">
        <div>
          <div class="row">
            <div class="col-3 col-md-2 d-flex align-items-center justify-content-center">
              <img src="{% static 'assets/images/estadisticas/mujer.png' %}" alt="">
            </div>
            <div class="col-9 col-md-10 d-flex align-items-center">
              <div class="content-text py-3">
                <p class="m-0">Este porcentaje cae a <strong>32%</strong> cuando <strong>opinan sobre el hábito de masturbación de las mujeres.</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="separador-point"></div>
<div class="sec-estadisticas-06">
  <div class="container-fluid">
    <div class="row pt-5 pb-3">
      <div class="col-10 offset-1 col-md-4 offset-md-0 d-flex align-items-center">
        <div class="content-progress position-relative w-100">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <div class="porcent-progress" style="left: 90%;">90%</div>
        </div>
      </div>
      <div class="col-12 col-md-7 py-3">
        <p>Casi <strong>9 de cada 10 entrevistadas</strong> opinan que <strong>existen prejuicios a la hora de hablar sobre la masturbación femenina.</strong> Casi todas las mujeres jóvenes de la muestra <strong>quieren que se hable de masturbación.</strong></p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-10 offset-1 col-md-4 offset-md-0 d-flex align-items-center">
        <div class="content-progress position-relative w-100">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <div class="porcent-progress" style="left: 82%;">82%</div>
        </div>
      </div>
      <div class="col-12 col-md-7 py-3">
        <p><strong>82%</strong> cree que es necesario <strong>generar conversación en los medios</strong> de comunicación.</p>
      </div>
    </div>
  </div>
</div>
<div class="sec-estadisticas-07">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 pb-4 pb-md-0">
        <div class="content-card color01 py-4 px-3">
          <p class="title text-center">6 DE CADA 10</p>
          <p class="subtitle text-center">MUJERES</p>
          <p class="text">considera que <strong>masturbarse les da más confianza en sí mismas</strong> y mejora su autoestima.</p>
        </div>
        <div class="pestana">
          <img src="{% static 'assets/images/estadisticas/pestana01.png' %}" alt="card">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 pb-4 pb-md-0">
        <div class="content-card color02 py-4 px-3">
          <p class="title text-center">4 DE CADA 10</p>
          <p class="subtitle text-center">MUJERES</p>
          <p class="text">manifiesta tener <strong>mejores orgasmos</strong> durante la masturbación <strong>que durante las relaciones</strong> sexuales <strong>con su pareja.</strong></p>
        </div>
        <div class="pestana">
          <img src="{% static 'assets/images/estadisticas/pestana02.png' %}" alt="card">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 pb-4 pb-md-0">
        <div class="content-card color01 py-4 px-3">
          <p class="title text-center">8 DE CADA 10</p>
          <p class="subtitle text-center">MUJERES</p>
          <p class="text">quisiera <strong>conversar con un profesional</strong> (ginecólogo o sexólogo) <strong>sobre masturbación</strong> femenina.</p>
        </div>
        <div class="pestana">
          <img src="{% static 'assets/images/estadisticas/pestana01.png' %}" alt="card">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 pb-4 pb-md-0">
        <div class="content-card color02 py-4 px-3">
          <p class="title extra-font text-center">90%</p>
          <p class="text">opina que existe una <strong>gran necesidad de conversar</strong> sobre temas de <strong>educación sexual.</strong></p>
        </div>
        <div class="pestana">
          <img src="{% static 'assets/images/estadisticas/pestana02.png' %}" alt="card">
        </div>
      </div>
    </div>
    <p class="m-0 mt-3">Mujeres encuestadas: 1200 / Lugar: AMBA / Fuente: TRIA / Año: 2021</p>
  </div>
</div>

{% include 'partials/separador.html' with textSeparador='ADEMÁS' %}

{% include 'partials/testimonios.html' %}

{% include 'partials/sorteo.html' %}

{% include 'partials/cecilia.html' %}

{% include 'partials/campania.html' %}

{% include 'partials/modals.html' %}

{% include 'partials/separador.html' with textSeparador='CONOCÉ NUESTRA LÍNEA DE PRODUCTOS' %}

{% include 'partials/productos.html' %}

{% endblock content %}
