{% extends 'layout.html' %}
{% load static %}


{% block content %}

{% include 'partials/hero-home.html' %}

{% include 'partials/testimonios.html' %}

{% include 'partials/estadisticas.html' with posImgRight="order-1 order-md-2" posTextLeft="order-2 order-md-1" %}

{% include 'partials/sorteo.html' %}

{% include 'partials/cecilia.html' with posImgRight="order-1 order-md-2" posTextLeft="order-2 order-md-1" %}

{% include 'partials/campania.html' %}

{% include 'partials/modals.html' %}

{% include 'partials/separador.html' with textSeparador='CONOCÉ NUESTRA LÍNEA DE PRODUCTOS' %}

{% include 'partials/productos.html' %}

{% endblock content %}
  